[submodule "import/wordset-dictionary"]
	path = import/wordset-dictionary
	url = git@github.com:wordset/wordset-dictionary.git
[submodule "import/english-words"]
	path = import/english-words
	url = git@github.com:dwyl/english-words.git
