[submodule "dictionary-sources/wordset-dictionary"]
	path = dictionary-sources/wordset-dictionary
	url = git@github.com:wordset/wordset-dictionary.git
[submodule "dictionary-sources/english-words"]
	path = dictionary-sources/english-words
	url = git@github.com:dwyl/english-words.git
