# SAM
.aws-sam

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
wordle

# Test binary, build with `go test -c`
*.test

*.out
/venv
/.idea

# Zipped lambda binaries
/*.zip

# macOS folder metadata
.DS_Store
/package-lock.json
/local.env
/bin/